In [81]:
import pandas as pd

In [82]:
df= pd.read_csv('nobel.csv')

In [83]:
temp =df.copy()

In [84]:
temp.isnull().sum()

year                      0
category                  0
prize                     0
motivation               88
prize_share               0
laureate_id               0
laureate_type             0
full_name                 0
birth_date               32
birth_city               36
birth_country            31
sex                      30
organization_name       264
organization_city       265
organization_country    265
death_date              404
death_city              421
death_country           415
dtype: int64

In [85]:
temp.shape

(1000, 18)

In [86]:
#droping null values
temp.dropna()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
6,1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services ...",1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1919-07-15,Berlin,Germany
8,1902,Medicine,The Nobel Prize in Physiology or Medicine 1902,"""for his work on malaria, by which he has show...",1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,Liverpool,United Kingdom,1932-09-16,Putney Heath,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,2010,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for their analysis of markets with search fri...",1/3,857,Individual,Dale T. Mortensen,1939-02-02,"Enterprise, OR",United States of America,Male,Northwestern University,"Evanston, IL",United States of America,2014-01-09,"Wilmette, IL",United States of America
836,2010,Medicine,The Nobel Prize in Physiology or Medicine 2010,"""for the development of in vitro fertilization""",1/1,848,Individual,Robert G. Edwards,1925-09-27,Batley,United Kingdom,Male,University of Cambridge,Cambridge,United Kingdom,2013-04-10,Cambridge,United Kingdom
856,2012,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for the theory of stable allocations and the ...",1/2,883,Individual,Lloyd S. Shapley,1923-06-02,"Cambridge, MA",United States of America,Male,University of California,"Los Angeles, CA",United States of America,2016-03-12,"Tucson, AZ",United States of America
925,2018,Physics,The Nobel Prize in Physics 2018,"""for the optical tweezers and their applicatio...",1/2,960,Individual,Arthur Ashkin,1922-09-02,"New York, NY",USA,Male,Bell Laboratories,"Holmdel, NJ",United States of America,2020-09-21,"Rumson, NJ",United States of America
942,2019,Chemistry,The Nobel Prize in Chemistry 2019,"""for the development of lithium-ion batteries""",1/3,976,Individual,John Goodenough,1922-07-25,Jena,Germany,Male,University of Texas,"Austin, TX",United States of America,2023-06-25,"Austin, TX",United States of America

# Solution 2
filling null values

In [87]:
temp['motivation']=temp['motivation'].fillna('No Motivation')

In [88]:
temp.motivation.unique

<bound method Series.unique of 0      "in recognition of the extraordinary services ...
1      "in special recognition of his poetic composit...
2      "for his work on serum therapy, especially its...
3                                          No Motivation
4                                          No Motivation
                             ...
995    "for the discovery and synthesis of quantum dots"
996    "for the discovery and synthesis of quantum dots"
997    "for his innovative plays and prose which give...
998    "for her fight against the oppression of women...
999    "for having advanced our understanding of wome...
Name: motivation, Length: 1000, dtype: object>

Forward fill

In [89]:
temp_fill = temp.ffill()

In [90]:
temp_fill.isnull().sum()

year                    0
category                0
prize                   0
motivation              0
prize_share             0
laureate_id             0
laureate_type           0
full_name               0
birth_date              0
birth_city              0
birth_country           0
sex                     0
organization_name       0
organization_city       0
organization_country    0
death_date              0
death_city              0
death_country           0
dtype: int64

In [91]:
temp_fill = temp.ffill()

In [92]:
temp_fill.shape

(1000, 18)

Back fill

In [93]:
temp_bfill = temp.bfill()

In [94]:
temp_bfill.isnull().sum()

year                     0
category                 0
prize                    0
motivation               0
prize_share              0
laureate_id              0
laureate_type            0
full_name                0
birth_date               0
birth_city               0
birth_country            0
sex                      0
organization_name        0
organization_city        0
organization_country     0
death_date              41
death_city              41
death_country           41
dtype: int64

Interpolate

In [95]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame({ 
    'A': [1, 2, np.nan, 4], 
    'B': [5, np.nan, np.nan, 8], 
    'C': [9, 10, 11, 12] 
}) 
df_interpolated = df.interpolate(method='linear')
print(df)
print(df_interpolated)

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12
     A    B   C
0  1.0  5.0   9
1  2.0  6.0  10
2  3.0  7.0  11
3  4.0  8.0  12

Date Parameters

In [98]:
df['birth_date']= pd.to_datetime(df['birth_date'],errors= "coerce")
#this is not run here becuase some error above in cells. i can check in my home.

KeyError: 'birth_date'